@font-face {
    font-family: "Lora";
    src: url('Lora/Lora-VariableFont_wght.ttf') format("truetype-variations");
  }

html,body,main,header,section,img,h3,h2,p,div,input,button,label,textarea,form {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
}
:focus {
    outline:none;
}
::-moz-focus-inner {
    border:0;
}
button {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    border-radius: 0;
    background: #fff;
    border: 0;
    outline: 0;
    cursor: pointer;
}
html,body {
    height: 100%;
    font-family: sans-serif;
}
body {
    background: #f3ceb2;
    font-family: "Lora", sans-serif;
    max-width: 600px;
    margin: auto;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
header {
    padding: 20px 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
header h2 {
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    color: #3d3d3d;
}
header h2 a {
    text-decoration: none;
    color: #3d3d3d;
}
header p {
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #3d3d3d;
}
header > div {
    padding-right: 10px;
}
header > nav {
    display: inline-block;
    text-align: right;
    margin-left: auto;
    white-space: nowrap;
}
#search-invoke {
    display: none;
}
header > nav > a,
header > nav > label {
    margin: 1px 0;
    display: inline-block;
    padding: 4px;
    box-sizing: content-box;
    cursor: pointer;
}
header > nav > a img,
header > nav > label img {
    width: 16px;
    height: 16px;
    display: block;
    opacity: 0.4;
    transition: 300ms opacity ease;
}
header > nav > a:hover img,
header > nav > label:hover img {
    opacity: 1;
}
header > nav > label a.overlay,
header > nav > label #search-modal {
    display: none;
}
header > nav > label #search-invoke:checked ~ a.overlay,
header > nav > label #search-invoke:checked ~ #search-modal {
    display: block;
}
header > div > a {
    color: #333;
    font-size: 15px;
    line-height: 22px;
    border-top: 1px solid #333;
    text-transform: none;
    display: inline-block;
    margin-top: 8px;
    padding-top: 8px;
}
main.grow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
}
main.grow form {
    -webkit-box-flex: 1;
    -ms-flex: 1;
        flex: 1;
    margin: 0 auto 5px;
}
main.grow form textarea {
    height: calc(100% - 180px);
}
#feed {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
        flex-grow: 1;
    padding: 12px;
}
.post-filter-item {
    padding: 5px 10px;
    font-size: 13px;
    background: #b2b2b2;
    display: inline-block;
    margin: 0 15px 10px 0;
    color: #333;
    cursor: pointer;
}
.post-filter-item::before {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    content: "";
    margin: 0 5px 0 2px;
    display: inline-block;
    vertical-align: sub;
}
.post-filter-item.article::before {
    background-image: url("i/blogpost.svg");
}
.post-filter-item.status::before {
    background-image: url("i/status.svg");
}
.post-filter-item.image::before {
    background-image: url("i/image.svg");
}
.post-filter-item.video::before {
    background-image: url("i/video.svg");
}
.post-filter-item.audio::before {
    background-image: url("i/audio.svg");
}
.post-filter-item.global::before {
    display: none;
}
.post-filter-item::after {
    content: " (" attr(data-count) ")";
}
.loop.status .post-filter-item.status,
.loop.article .post-filter-item.article,
.loop.image .post-filter-item.image,
.loop.video .post-filter-item.video,
.loop.audio .post-filter-item.audio,
.loop:not(.article):not(.image):not(.status):not(.video):not(.audio) .post-filter-item.global {
    background:#c98b3b;
}
.post {
    width: 100%;
    height: auto;
    background: #fff;
    box-shadow: 1px 2px 7px 1px rgba(0,0,0,0.12);
    color: #333;
    padding: 11px;
    margin: 16px 0 33px;
    font-size: 14px;
    line-height: 20px;
    position: relative;
}
.post-content {
    word-break: break-word;
}
.post-content h1 {
    font-size: 24px;
    line-height: 32px;
    margin: 15px 0 10px;
}
.post-content img {
    width: 100%;
}
.post-content .location {
    margin: 15px 0 0;
    padding: 0 11px;
    display: inline-block;
    color: #c98b3b;
    font-size: 13px;
    line-height: 20px;
    position: relative;
}
.post-content .location::before {
    content: "";
    height: 11px;
    width: 11px;
    display: inline-block;
    background: url("i/location.svg");
    opacity: 0.68;
    margin-right: 4px;
}
.post-content p {
    padding-top: 15px;
}
.post-meta {
    margin-top: 10px;
    display: block;
    text-align: right;
    line-height: 20px;
    font-size: 11px;
    color: #aaa;
}
.post-meta a {
    display: inline-block;
    color: #aaa;
    text-decoration: none;
}
.post-meta .download-original {
    width: 12px;
    height: 12px;
    background: url(i/download.svg);
    opacity: 0.3;
    float: left;
    margin-top: 5px;
}
.post-meta a .timestamp {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url(i/link.svg);
    opacity: 0.3;
    vertical-align: middle;
    margin-left: 5px;
}
.post-meta .operations {
    display: none;
    font-size: 0;
    opacity: 0;
    height: 0;
}
.post-meta .love {
    float: left;
    width: 20px;
    height: 20px;
    background: url("i/love.svg") no-repeat;
    margin-right: 6px;
}
body.admin .post-meta .operations {
    display: inline-block;
    font-size: 11px;
    opacity: 1;
    height: auto;
    margin-right: 16px;
}
.post-meta input[type="checkbox"],
body.admin .post-meta .operations-delete,
body:not(.admin) .post-meta label {
    display: none;
}
body.admin .post-meta label {
    cursor: pointer;
    margin-right: 16px;
    font-size: 11px;
}
body.admin .post-meta input[type="checkbox"]:checked + label + a {
    display: inline-block;
    color: #c63d72;
}
body.admin .post-meta input[type="checkbox"]:checked + label {
    font-size: 0;
}
body.admin .post-meta input[type="checkbox"]:checked + label::after {
    content: attr(data-cancel);
    font-size: 11px;
}
.nobar::-webkit-scrollbar {
display: none;
}

.nobar {
-ms-overflow-style: none;
scrollbar-width: none;
}
.post-type-article .post-content a,
.post-type-status .post-content a,
.post-type-gallery p a,
.post-type-image p a,
.post a.button,
.post-type-article .post-content h1 {
    color: #333;
}
.post-type-article h3 {
    font-size: 18px;
    line-height: 24px;
    margin: 10px 0;
}
.post-type-gallery .post-content > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    overflow: hidden;
    position: relative;
}
.post-type-gallery .post-content > div::-webkit-scrollbar {
    display: none;
}
.post-type-gallery .post-slide {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 100%;
  position: relative;
  padding-bottom: 30px;
  display: none;
}
.post-type-gallery .post-slide::after {
    content: attr(data-count);
    position: absolute;
    bottom: 6px;
    left: 50%;
    transform: translateX(-50%);
    color: #aaa;
}
.post-type-gallery .post-slide img {
    width: 100%;
    position: relative;
    z-index: 2;
}
.post-type-gallery .post-content div > input {
    display: none;
}
.post-type-gallery .post-content div > input:checked + .post-slide {
    display: block;
}
.post-type-gallery .post-slide label {
    width: 24px;
    height: 24px;
    border-radius: 2px;
    background: #c98b3b;
    color: #fff;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    color:#333;
    text-align: center;
}
.post-type-gallery .post-slide .label-more {
    right: 12px;
    left: auto;
}
.post-type-gallery .post-slide .label-more::after,
.post-type-gallery .post-slide .label-less::after {
    content: "";
    background: url(i/arrow-line-right.svg) no-repeat center center;
    width: 100%;
    height: 100%;
    display: block;
}
.post-type-gallery .post-slide .label-less {
    left: 12px;
    right: auto;
}
.post-type-gallery .post-slide .label-less::after {
    background-image: url(i/arrow-line-left.svg);
}
.post-type-image,
.post-type-gallery {
    padding: 0;
}
.post-type-video video,
.post-type-audio audio {
    width: 100%;
    height: auto;
}
.post-type-audio audio {
    filter: sepia(100%) saturate(400%) hue-rotate(359deg);
}
.post-type-image .post-meta,
.post-type-gallery .post-meta {
    padding: 0 11px 11px;
}
.post-type-image .post-content img {
    display: block;
    width: 100%;
}
.post-type-image .post-content p,
.post-type-gallery .post-content p {
    margin-top: 15px;
    padding: 0 11px;
}
.post-type-image .post-content h3,
.post-type-gallery .post-content h3 {
    padding: 0 11px;
}
.post-type-image .post-content .location + p,
.post-type-gallery .post-content .location + p {
    margin-top: 5px;
}
form.load-more {
    width: 190px;
    margin: 20px auto;
    padding: 0;
}
.post-comments {
    background: #e1dad4;
    width: calc(100% + 22px);
    margin-left: -11px;
    margin-bottom: -11px;
    margin-top: 11px;
    padding: 8px;
    position: relative;
}
.post-type-image .post-comments,
.post-type-gallery .post-comments {
    margin-left: 0;
    margin-bottom: 0;
    width: 100%;
}
.loop .post > a {
    text-decoration: none;
    color: inherit;
}
#search-modal {
    display: block;
    box-shadow: 0 0 0 2000px rgba(0,0,0,0.32);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 3;
    text-align: left;
}
#search-modal form {
    margin: 0;
}
a.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 2;
}
#hook_comments form {
    background: transparent;
    box-shadow: none;
    padding: 0;
    margin: 0;
}
#hook_comments form textarea {
    width: 100%;

}
.post-type-status p:empty {
    display: none;
}
.post-comments + input + .post-comments {
    display: none;
}
label[for="open-comment-section"] {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
}
#open-comment-section {
    display: none;
}
#open-comment-section:checked + .post-comments {
    display: block;
}
.post-comments span:last-child {
    float: right;
    position: relative;
}
.post-comments span:last-child::after {
    content: "";
    background: url(i/comments.svg) no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
    position: relative;
    top: 4px;
    margin-left: 3px;
}
.post-comments + .post-single-comment {
    margin-top: 11px;
}
.post-single-comment {
    padding: 11px 0;
    position: relative;
}
.post-single-comment span {
    overflow: hidden;
    word-break: break-all;
}
.post-single-comment span:not(:last-child) {
    font-size: 11px;
}
.post-single-comment span:nth-child(2) {
    float: right;
}
.post-single-comment span:last-child {
    display: block;
}
.post-single-comment::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -11px;
    right: 0;
    width: calc(100% + 22px);
    height: 1px;
    background: #ccc;
}
.post-single-comment:last-child {
    margin-bottom: -11px;
}
#pullmore,
#pullless {
    display: none;
}
.read-more {
    text-decoration: none;
    color: #333;
    display: block;
    font-size: 14px;
    line-height: 22px;
    background: #fff;
    box-shadow: 1px 2px 7px 1px rgba(0,0,0,0.32);
    margin: 0;
    padding: 4px 12px;
    align-self: center;
    justify-self: center;
    text-align: center;
    width: 100%;
    text-align: center;
    cursor: pointer;
}
.read-more + input[type="submit"] {
    display: none;
}
.post-filter-form {
    display: inline-block;
    width: auto;
    margin: 0 10px 0 0;
    background: transparent;
    box-shadow: 0 0;
    padding: 0;
}
.post-filter-form input,
.post-filter-form input[type="submit"] {
    display: none;
}
.post-filter-form label {
    display: inline-block;
    margin: 0;
    line-height: 18px;
    font-size: 13px;
    padding: 4px 0;
}
.post-filter-form .post-filter-item {
    margin: 0;
}
.add-post {
    width: 100%;
    height: 70px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    box-shadow: 1px 2px 7px 1px rgba(0,0,0,0.12);
    margin-bottom: 15px;
}
.add-post > a {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
        flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-right: 1px solid #c4c4c4;
    font-size: 12px;
    line-height: 18px;
    color: #333;
    cursor: pointer;
    opacity: 0.7;
}
.add-post > a img {
    width: 22px;
    height: 22px;
    margin-bottom: 5px;
}
.add-post > a:last-child {
    border-right: 0;
}
form.login {
    width: 240px;
}
form.add {
    width: 100%;
}
form.add input[type="checkbox"] {
    float: left;
    width: 18px;
    height: 18px;
    margin: 20px 6px 0 0;
    border-radius: 2px;
    border: 2px solid #c98b3b;
    outline: 0;
    background: #fff;
    appearance: none;
    -webkit-appearance: none;
}
form.add input[type="checkbox"]:checked {
    background: #c98b3b;
}
form select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}
span.help {
    width: 14px;
    height: 14px;
    display: inline-block;
    background: url(i/help.svg);
    opacity: 0.3;
    vertical-align: middle;
    margin: 0 3px;
    cursor: pointer;
    transition: opacity 330ms ease;
}
span.help:hover {
    opacity: 0.8;
}
form {
    width: 100%;
    margin: 20px auto;
    box-shadow: 1px 2px 7px 1px rgba(0,0,0,0.12);
    background: #fff;
    padding: 0 10px;
    display: block;
    overflow: auto;
}
form p {
    font-size: 14px;
    margin: 4px 0 10px;
}
form label {
    display: block;
    font-size: 15px;
    line-height: 22px;
    padding: 4px 0;
    margin-top: 15px;
    color: #333;
}
form input,
form textarea,
form select {
    width: 220px;
    height: 34px;
    padding: 3px;
    border: 1px solid #333;
    font: normal 15px/22px sans-serif;
    display: block;
}
form input:focus,
form textarea:focus,
form select:focus {
    border-color: #c98b3b;
}
form textarea {
    height: 60px;
    resize: none;
}
form.add textarea {
    width: 100%;
    height: 100px;
}
form input[type="submit"],
.cta {
    width: auto;
    height: auto;
    padding: 5px 10px;
    background: #c98b3b;
    color: #fff;
    border: 0;
    font: normal 14px/22px sans-serif;
    display: block;
    margin: 10px 0;
    cursor: pointer;
}
@media screen and (min-width: 600px) {
    header,
    #feed {
        padding: 20px 0;
    }
    .post-type-gallery .post-slide {
        width: 100%;
    }
    .add-post > div {
        font-size: 14px;
        line-height: 20px;
    }
}

/*FOUC*/
body {
    visibility: visible;
}